.header-mobile{
    display: none;
}

@media screen and (max-width:800px) {
    .header-mobile{
        display: block;
        border: 2px solid blue;
        /* border-bottom: 1px solid black; */
        padding:0.6rem;
    }
}
